*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background: transparent;
}
.heading a{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #03e5dd;
    padding-left: 10%;
}
.navbar{
    padding: 0 10%;
}
.navbar button{
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 20px;
    border: .1rem solid #11bfda;
    color: #78e7f8;
    background: transparent;
    cursor: pointer;
}
.navbar button:hover{
    background: #03e5dd;
    color: rgb(57, 71, 71);
    box-shadow: 2px 2px 3px rgba(47, 60, 70, 0.975);
}

.front-page{
    display: flex;
    align-items: center;
}
.front-page .front{
    width: 40%;
    height: 50%;
    margin: 11% 13%;
    color: #049fa2;
}
.front h3{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #03e5dd;
}
.front h1{
    font-size: 3.5rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    line-height: 1;
    text-shadow: 3px 4px 5px #082929,
    1px 2px 3px #13d0e4;;
}
.front p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: #03e5dd;
    /* line-height: 1; */
}
.front button{
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid #11bfda;
    border-radius: 20px;
    background: #056371;
    color: #11bfda;
    font-size: 1.1rem;
}
.front button:hover{
    background: transparent;
    color: #78e7f8;
    box-shadow: 2px 1px 2px #78e7f8;
    cursor: pointer;
}

.sideBar{
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #072d3353;
}
.sideBar .menu{
    position: absolute;
    top: 2%;
}
.menu i{
    margin-top: 10px;
    margin-left: 10px;
    color: #8cb0b7d1;
    cursor: pointer;
}
.sideBar .icon{
    position: absolute;
    top: 50%;
}
.icon i{
    margin-top: 20px;
    margin-left: 10px;
    color: #536b70d1;
    cursor: pointer;
}

.bubble{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
   
}
.bubble img{
    width: 50px;
    height: auto;
    opacity: 0;
    animation: bubble 7.5s linear infinite;
}
.bubble img:nth-child(1){
    animation-delay: 2s;
}
.bubble img:nth-child(2){
    animation-delay: 1s;
}
.bubble img:nth-child(3){
    animation-delay: 3s;
}
.bubble img:nth-child(4){
    animation-delay: 6s;
}
.bubble img:nth-child(5){
    animation-delay: 8s;
}
.bubble img:nth-child(6){
    animation-delay: 5s;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    25%{
        
        opacity: 1;
    }
    50%{
        
        opacity: 1;
    }
    75%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}